@charset "UTF-8";
@font-face {
  font-family: "Fire";
  src: url("../../police/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Poppin";
  src: url("../../police/Poppins-Regular.otf");
}
body {
  color: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
body::before {
  animation: grain 8s steps(10) infinite;
  background-image: url(../../images/nois.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.7;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
a:link {
  text-decoration: none;
}

.header {
  color: black;
  font-family: "Fire";
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 100px;
  position: relative;
}
.header .header__titre-principale {
  display: flex;
  align-items: baseline;
}
.header .header__titre-principale .header__titre-principale-nom {
  display: flex;
  align-items: baseline;
}
.header h1 {
  margin-right: 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}
.header span {
  font-size: 1.1rem;
  margin-right: 12px;
}
.header p {
  margin-right: 10px;
}
.header .nav__ul {
  font-size: 1.1rem;
  margin-right: 50px;
  margin-left: 50px;
  user-select: none;
  display: flex;
  list-style-type: none;
}
.header .nav__ul li {
  margin-right: 1.2rem;
}
.header .nav__ul a {
  color: black;
  display: inline-block;
  position: relative;
  padding-bottom: 6px;
}
.header .nav__ul a:hover {
  color: #FFF7D3;
}
.header .nav__ul .button1:after {
  content: "";
  background: #FFF7D3;
  height: 1.5px;
  display: block;
  position: absolute;
  transition: 0.3s ease;
  bottom: 0px;
  left: 0px;
  width: 0px;
}
.header .nav__ul .button5:after {
  content: "";
  background: #FFF7D3;
  height: 1.5px;
  display: block;
  position: absolute;
  transition: 0.3s ease;
  bottom: 0px;
  right: 0px;
  width: 0px;
}
.header .nav__ul .button3:after {
  content: "";
  background: #FFF7D3;
  height: 1.5px;
  display: block;
  position: absolute;
  transition: 0.3s ease;
  top: 0px;
  right: 0px;
  width: 0px;
}
.header .nav__ul .button3:before {
  content: "";
  background: #FFF7D3;
  height: 1.5px;
  display: block;
  position: absolute;
  transition: 0.3s ease;
  bottom: 0px;
  left: 0px;
  width: 0px;
}
.header .nav__ul .button4:after {
  content: "";
  background: #FFF7D3;
  height: 1.5px;
  display: block;
  position: absolute;
  transition: 0.3s ease;
  top: 0px;
  left: 0px;
  width: 0px;
}
.header .nav__ul .button2:after {
  content: "";
  background: #FFF7D3;
  height: 1.5px;
  display: block;
  position: absolute;
  transition: 0.3s ease;
  top: 0px;
  right: 0px;
  width: 0px;
}
.header .button1:hover:after, .header .button2:hover:after, .header .button4:hover:after, .header .button5:hover:after {
  width: 100%;
}
.header .button3:hover:after, .header .button3:hover:before {
  width: 100%;
}

.section-index {
  margin-top: 100px;
}
.section-index a:link {
  text-decoration: none;
}
.section-index .section-index__menu {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10vh 0 15vh;
  --marquee-width: 98vw;
  --offset: 5vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 8vw;
  counter-reset: menu;
}
.section-index .section-index__menu .section-index__menu-item {
  position: relative;
  padding: 0 5vw;
}
.section-index .section-index__menu .section-index__menu-item-link {
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
}
.section-index .section-index__menu .section-index__menu-item-link:hover {
  opacity: 0;
}
.section-index .section-index__menu .section-index__menu-item-link::before {
  all: initial;
  counter-increment: menu;
  content: counter(menu);
  position: absolute;
  bottom: 20%;
  left: 0;
  pointer-events: none;
}

.section-index__menu-item_img {
  pointer-events: none;
  position: absolute;
  height: 400px;
  width: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translate3d(calc(-100% - 5rem), -50%, 0) translate3d(0, 20px, 0);
}

.section-index__menu-item-link:hover + .section-index__menu-item_img {
  opacity: 1;
  transform: translate3d(calc(-90% - 6vw), -40%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  mix-blend-mode: screen;
  color: #FFF7D3;
}
.marquee span {
  font-style: normal;
  font-family: sans-serif;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 25s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}

.section-index__menu-item-link:hover ~ .marquee .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}

.section-index__menu-item-link, .marquee span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1rem;
  font-weight: 900;
  line-height: 1.15;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
.footer {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 100px 50px 100px;
  position: relative;
  font-size: 1.2rem;
  font-family: "Fire";
}
.footer a {
  color: #FFF7D3;
  font-weight: 500;
}
.footer span {
  margin-left: 15px;
}
.footer img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.footer .infos {
  display: flex;
  align-items: center;
}
.footer .kotcherga {
  padding-left: 5px;
}

.section-profil {
  position: relative;
  font-family: "Fire";
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 70px;
}
.section-profil h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-bottom: 20px;
}
.section-profil p, .section-profil ul {
  font-family: "Poppin";
  font-size: 0.9rem;
}
.section-profil h2, .section-profil h3, .section-profil h4, .section-profil h5 {
  color: #FFF7D3;
}
.section-profil h2, .section-profil h4, .section-profil h5 {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: left;
}
.section-profil h3 {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: left;
}
.section-profil .qui-suis-je {
  padding: 15px;
  margin: 50px 50px 100px 50px;
  text-align: left;
}
.section-profil .qui-suis-je h2 {
  margin: 0px 0 20px 0;
}
.section-profil .pourquoi-dev {
  text-align: left;
  margin: 0 50px 80px 50px;
}
.section-profil .pourquoi-dev h3 {
  margin: 50px 0 20px 0;
}
.section-profil ul {
  margin: 0;
  padding: 0;
}
.section-profil li {
  list-style-type: none;
}
.section-profil li:before {
  content: "◌";
  margin-right: 10px;
}

.section-profil__footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}
.section-profil__footer a {
  color: #FFF7D3;
}

.section-competences {
  position: relative;
  font-family: "Fire";
  margin: 100px 100px 200px 100px;
}
.section-competences h1 {
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-bottom: 50px;
}
.section-competences h2 {
  color: #FFF7D3;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.section-competences__bloc-competences {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
.section-competences__bloc-competences img {
  max-width: 100%;
  height: auto;
}
.section-competences__bloc-competences .html5 {
  width: 130px;
  margin-bottom: 22px;
}
.section-competences__bloc-competences .sass {
  width: 130px;
  margin-bottom: 21px;
}
.section-competences__bloc-competences .git {
  width: 150px;
  margin: 30px 20px 57px 0;
}
.section-competences__bloc-competences .bootstrap {
  width: 100px;
  margin-top: 23px;
  margin-bottom: 28px;
}
.section-competences__bloc-competences .visual {
  width: 130px;
  margin-top: 5px;
  margin-bottom: 18px;
}
.section-competences__bloc-competences .responsive {
  width: 110px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.section-competences__bloc-competences .css3 {
  width: 130px;
  margin-bottom: 23px;
}
.section-competences__bloc-competences .php {
  width: 130px;
  margin: 5px 0 18px 0;
}
.section-competences__bloc-competences .javascript {
  width: 105px;
  margin: 10px 0 23px 0;
}
.section-competences__bloc-competences p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titre_experiences {
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.section-experiences {
  position: relative;
  display: flex;
  font-family: "Fire";
  margin: 100px 100px 200px 100px;
}
.section-experiences h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 50px;
  color: black;
}
.section-experiences h2, .section-experiences h3, .section-experiences p {
  margin: 0;
}
.section-experiences h2 {
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.section-experiences h3 {
  font-size: 1rem;
}
.section-experiences p {
  margin-bottom: 25px;
}
.section-experiences ul {
  list-style-type: none;
}

.section-experiences__experiences-pro {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding-right: 200px;
  flex: 1;
  padding: 40px;
  margin-right: 20px;
}

.section-experiences__diplomes {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
  flex: 1;
  padding: 40px;
  margin-left: 20px;
}

.section-portfolio {
  font-family: "Fire";
  position: relative;
}
.section-portfolio h1 {
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.section-portfolio h2 {
  color: #FFF7D3;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.section-portfolio .section-portfolio__img-projets {
  display: flex;
  justify-content: space-around;
}

.lien-projet1 {
  margin: auto;
  display: flex;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 500px;
  max-width: 100%;
  height: auto;
}

.bloc-inner-spacer {
  height: 300px;
}

.section-contact {
  position: relative;
  font-family: "Fire";
}
.section-contact .section-contact__container {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.section-contact h1 {
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-top: 100px;
  text-align: center;
}

.section-contact__container-formulaire {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin: 50px 0px 50px 0;
  text-align: center;
}
.section-contact__container-formulaire input, .section-contact__container-formulaire textarea {
  font-family: "Fire";
}
.section-contact__container-formulaire h3 {
  font-size: 1.3rem;
}
.section-contact__container-formulaire h4 {
  margin-bottom: 40px;
  font-size: 0.9rem;
}
.section-contact__container-formulaire textarea {
  height: 100px;
  width: 90%;
}
.section-contact__container-formulaire .section-contact__container-formulaire-name, .section-contact__container-formulaire .section-contact__container-formulaire-email {
  width: 90%;
}
.section-contact__container-formulaire button[type=submit] {
  cursor: pointer;
  width: 91%;
  border: none;
  background: black;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 0.9rem;
}
.section-contact__container-formulaire button[type=submit]:hover {
  background: #FFF7D3;
  color: black;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

fieldset {
  border: medium none;
  margin-bottom: 10px;
  padding: 0;
}

.section-logo-contact {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  display: flex;
  margin: 0 250px 0 250px;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 1.8rem;
}
.section-logo-contact a {
  color: black;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.section-logo-contact a:link {
  text-decoration: none;
}
.section-logo-contact a:hover {
  color: #FFF7D3;
}

.image_mail, .image_tel, .maps {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.body-projet1 {
  position: relative;
  background-color: white;
}

@media screen and (max-width: 1470px) {
  .header {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .header .header__titre-principale, .header .nav__ul {
    justify-content: center;
  }
  .header .nav__ul {
    margin: 10px 10px 0 10px;
    padding: 0;
  }

  .section-competences__bloc-competences {
    display: flex;
    flex-wrap: wrap;
  }

  .section-experiences {
    flex-direction: column;
  }
  .section-experiences .section-experiences__experiences-pro {
    margin: 0 40px 100px 40px;
  }
  .section-experiences .section-experiences__diplomes {
    margin-left: 40px;
    margin-right: 40px;
  }

  .section-logo-contact {
    margin: 0 150px 0 150px;
  }

  .footer {
    flex-direction: column;
    margin: 100px 20px 50px 20px;
  }
  .footer p {
    justify-content: center;
    text-align: center;
    margin: 0 0 10px 0;
  }

  .section-profil {
    margin: 100px 50px 0 50px;
  }
  .section-profil .section-profil__footer {
    flex-direction: column;
  }
  .section-profil .section-profil__footer .section-profil__footer-informations, .section-profil .section-profil__footer .section-profil__footer-interets {
    margin: auto;
  }

  .section-logo-contact {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .section-experiences {
    margin: 100px 20px 200px 20px;
  }

  .section-logo-contact {
    display: flex;
    flex-wrap: wrap;
  }
  .section-logo-contact a {
    margin: 0 20px 0 20px;
  }
}
@media screen and (max-width: 770px) {
  .header__titre-principale {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .header__titre-principale .header__titre-principale-desciption {
    margin: 10px 20px 15px 20px;
  }
  .header__titre-principale .header__titre-principale-nom {
    margin: auto;
  }

  .section-experiences {
    margin: 70px 0 200px 0;
  }
  .section-experiences .section-experiences__experiences-pro {
    margin: 0 20px 40px 20px;
  }
  .section-experiences .section-experiences__diplomes {
    margin: 0 20px 0 20px;
  }

  .section-contact__container-formulaire {
    margin: 0 20px 50px 20px;
  }

  .section-logo-contact {
    margin: 0 20px 0 20px;
  }

  .section-profil h2, .section-profil h3 {
    margin: 14px 0 14px 0;
  }
  .section-profil .section-profil__presentation {
    margin: 16px 0 60px 0;
  }
  .section-profil .section-profil__metier {
    margin: 16px 0 40px 0;
  }

  .section-profil__footer .section-profil__footer-interets {
    margin: auto;
  }
  .section-profil__footer .section-profil__footer-interets h5 {
    text-align: center;
  }

  .nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .header {
    margin: 0;
    justify-content: center;
  }
  .header .header__titre-principale {
    flex-direction: column;
    justify-content: center;
  }
  .header .header__titre-principale-desciption {
    text-align: center;
    margin: 20px 20px 25px 20px;
  }

  .section-profil {
    margin: 100px 0px 0 0px;
  }
  .section-profil .qui-suis-je, .section-profil .pourquoi-dev {
    text-align: justify;
  }
  .section-profil .section-profil__footer-interets {
    padding: 0 30px 0 30px;
  }

  .section-competences {
    margin: 100px 20px 200px 20px;
  }
  .section-competences h1 {
    word-wrap: break-word;
  }

  .section-experiences .section-experiences__experiences-pro, .section-experiences .section-experiences__diplomes {
    padding: 10px;
  }

  .infos {
    flex-direction: column;
  }
  .infos img {
    margin-top: 10px;
  }

  .qui-suis-je {
    text-align: justify;
  }
}

/*# sourceMappingURL=style.css.map */
