<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../sass/css/style.css"/>
  <title>Kevin Kotcherga</title>
</head>

<body class="body">
  <div id="bloc_page">
    <header class="header">
        <div class="header__titre-principale">
           <div class="header__titre-principale-nom">
          <h1>Kevin Kotcherga</h1>
            </div>
          <p class="header__titre-principale-desciption"><span>Intégrateur web</span><span>Développeur web front end</span></p>
        </div>
    
    <nav class="nav">
      <ul class="nav__ul">
        <li><a class="button1" href="/index.html">Accueil</a></li>
        <li><a class="button2" href="/views/profil.html">À propos de moi</a></li>
        <li><a class="button3" href="/views/competences.html">Compétences</a></li>
        <li><a class="button4" href="/views/experiences.html">Expériences</a></li>
        <li><a class="button5" href="/views/contact.html">Contact</a></li>
      </ul>
    </nav>    
    </header>

    <section class="section-competences">
      <h1>Compétences</h1>
        <h2>J'ai acquéri des notions dans :</h2>
          <div class="section-competences__bloc-competences">
            <p><img class="html5" src="../images/html-black.png">Html 5</p>
            <p><img class="bootstrap"  src="../images/bootstrap.png">Bootstrap</p>
            <p><img class="css3" src="../images/css3-black.png">Css 3</p>
            <p><img class="visual" src="../images/visual_studio_code3.png">Visual Studio Code</p>
            <p><img class="sass" src="../images/sass-white.png">Sass & BEM</p>
            <p><img class="responsive" src="../images/multiscreen.png">Responsive Design</p>
            <p><img class="git" src="../images/Git-Logo-Black.png">Git & GitHub</p>  
          </div>  
    </section>

    <footer class="footer">
      <p>Télécharger mon cv <a href="">ici</a><span>Visiter mon <a href="">github</a></span></p>
      <p class="infos"><img src="/images/personalisé/planet-earth.png" alt="">©2021 Développer par Kevin <a class="kotcherga" href="https://www.linkedin.com/in/kevin-kotcherga-68b17520a/">Kotcherga</a></p>
    </footer>
</body>
</html>