<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../sass/css/style.css"/>
  <title>Kevin Kotcherga</title>
</head>

<body class="body">
  <div id="bloc_page">
    <header class="header">
        <div class="header__titre-principale">
           <div class="header__titre-principale-nom">
          <h1>Kevin Kotcherga</h1>
            </div>
          <p class="header__titre-principale-desciption"><span>Intégrateur web</span><span>Développeur web front end</span></p>
        </div>
    
    <nav class="nav">
      <ul class="nav__ul">
        <li><a class="button1" href="/index.html">Accueil</a></li>
        <li><a class="button2" href="/views/profil.html">À propos de moi</a></li>
        <li><a class="button3" href="/views/competences.html">Compétences</a></li>
        <li><a class="button4" href="/views/experiences.html">Expériences</a></li>
        <li><a class="button5" href="/views/contact.html">Contact</a></li>
      </ul>
    </nav>    
    </header>

    <section class="section-contact">
      <h1>Contact</h1>
        <div class="section-contact__container">  
          <form class="section-contact__container-formulaire" action="" method="post">
            <h3>Merci de prendre le temps de me contacter</h3>
            <h4>Laissez moi un message et j'y répondrai le plus rapidement possible :</h4>
              <fieldset>
                <input class="section-contact__container-formulaire-name" placeholder="Nom" type="text" tabindex="1" required autofocus>
              </fieldset>
              <fieldset>
                <input class="section-contact__container-formulaire-email"  placeholder="Email" type="email" tabindex="2" required>
              </fieldset>
              <fieldset>
                <textarea placeholder="Message" tabindex="3" required></textarea>
              </fieldset>
              <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Envoyer votre message</button>
              </fieldset>
          </form>
         </div>
    </section>

    <section class="section-logo-contact">
      <p><a href="mailto:kevin.kotcherga@gmail.com"><img class="image_mail" src="../images/icons/png/358-paper plane.png">Email</a></p>
      <p><a href="tel:0644305032"><img class="image_tel" src="../images/icons/png/296-smartphone.png">Numéro</a></p>
      <p><a href="https://www.google.fr/maps/place/8+Villa+de+l'Industrie,+93400+Saint-Ouen/@48.9090563,2.3289837,17.52z/data=!4m5!3m4!1s0x47e66ee374849dd5:0xfac3ecdf314c2e81!8m2!3d48.9090967!4d2.3306742"><img class="maps" src="../images/icons/png/135-map.png">Adresse</a></p>
    </section>

    <footer class="footer">
      <p>Télécharger mon cv <a href="">ici</a><span>Visiter mon <a href="https://github.com/kevinkotcherga/cv-portfolio">github</a></span></p>
      <p class="infos"><a href="/docs/ecoindex.csv"><img src="/images/personalisé/planet-earth.png" alt=""></a>©2021 Développer par Kevin <a class="kotcherga" href="https://www.linkedin.com/in/kevin-kotcherga-68b17520a/">Kotcherga</a></p>
    </footer> 
</body>
</html>