<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../sass/css/style.css"/>
  <title>Kevin Kotcherga</title>
</head>

<body class="body">
  <div id="bloc_page">
    <header class="header">
        <div class="header__titre-principale">
           <div class="header__titre-principale-nom">
          <h1>Kevin Kotcherga</h1>
            </div>
          <p class="header__titre-principale-desciption"><span>Intégrateur web</span><span>Développeur web front end</span></p>
        </div>
    
    <nav class="nav">
      <ul class="nav__ul">
        <li><a class="button1" href="/index.html">Accueil</a></li>
        <li><a class="button2" href="/views/profil.html">À propos de moi</a></li>
        <li><a class="button3" href="/views/competences.html">Compétences</a></li>
        <li><a class="button4" href="/views/experiences.html">Expériences</a></li>
        <li><a class="button5" href="/views/contact.html">Contact</a></li>
      </ul>
    </nav>    
    </header>

    <section class="section-profil">
      <h1>À propos de moi</h1>
        <div class="qui-suis-je">
        <h2>Qui suis-je ?</h2>
          <p>Je m'appelle Kevin, j'ai 25 ans, je vis acctuelemnt à Montpellier et je compte monter prochainement sur Paris. J’ai découvert le métier de développeur web grâce à des rencontres avec des professionnels qui m’ont permis d’accéder aux bases de ce métier. Je me forme en autodidacte avec l'aide d'openclassroom et de nombreux autres tutoriels sur le net. Demandeur de nouveautés et de conseils avisés, je suis extrêmement motivé pour apprendre. Actuellement salarié dans une entreprise et auto-entrepeneur/auto-didacte en tant qu'ingénieur du son pour du mixage et du mastering je sais être sérieux et autonomne pour atteindre mes objectifs. </p>
        </div>
        <div class="pourquoi-dev">
        <h3>Pourquoi le développement web ?</h3>
          <p>Parce que la programmation me plaît et j'aime ce que j'aprends. J'apprécie les nouvelles technologies et être au courant de ce qui se fait. Le métier de développeur web est en perpétuelle évolution, le besoin de formation est constant et les évolutions sont nombreuses. Je pense que c'est un métier d'avenir et j'aimerai en faire partie. </p>
        </div>
          <div class="section-profil__footer">
            <div class="section-profil__footer-informations">
              <h4>Informations</h4>
                  <ul>
                    <li>Permis b</li>
                    <li>Disponible sur Paris et sa banlieue</li>
                  </ul>
            </div>
          <div class="section-profil__footer-interets">
            <h5>Centres d'interets</h5>
                <ul>
                  <li>Ingénierie du son, mixage et mastering</li>
                  <li>Création musciale assisté par ordinateur (<a href="https://soundcloud.com/kerga">Soundcloud</a>)</li>
                  <li>Bourse et crypto-monnaies</li>
                  <li>Sports</li>
                </ul>
          </div>
          </div>    
    </section>

    <footer class="footer">
      <p>Télécharger mon cv <a href="">ici</a><span>Visiter mon <a href="">github</a></span></p>
      <p class="infos"><img src="/images/personalisé/planet-earth.png" alt="">©2021 Développer par Kevin <a class="kotcherga" href="https://www.linkedin.com/in/kevin-kotcherga-68b17520a/">Kotcherga</a></p>
    </footer>
</body>
</html>