@mixin border {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 5px;
}

@mixin border2 {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
}

@mixin button {
  content:'';
  background: $hover-color;
  height: 0.8px;
  display: block;
  position: absolute;
}

@mixin transition {
  transition:0.3s ease;
}