@mixin border {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
}

@mixin border2 {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
}

@mixin button {
  content:'';
  background: $hover-color3;
  height: 1.5px;
  display: block;
  position: absolute;
}

@mixin transition {
  transition:0.3s ease;
}