@font-face {
  font-family: "Open";
  src: url("../../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Poppin";
  src: url("../../fonts/Poppins-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppin";
}

body {
  color: #385A94;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#bloc_page, .container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

/* Style containers glassmorphism*/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  padding: 50px;
}

.container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  max-height: 600px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

/* Style header*/
.header {
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header .header__titre-principale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header .header__titre-principale h1 {
  font-size: 1.3rem;
  margin-right: 12px;
  margin-left: 15px;
}

.header .header__titre-principale span {
  margin-right: 12px;
}

.header .header__titre-principale p {
  font-size: 1.1rem;
  margin-right: 10px;
}

/* Style nav */
.nav__ul {
  margin-left: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav__ul li {
  margin-right: 0.2rem;
}

.nav__ul a {
  font-size: 1rem;
  text-decoration: none;
  color: #385A94;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding: 8px 13px;
  border-radius: 25px;
}

.nav__ul a:hover,
.nav__ul a.active {
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  max-width: 700px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
}

.content h2 {
  font-size: 2.5rem;
}

.content p {
  font-size: 1.2rem;
}

.content a {
  display: inline-block;
  color: #385A94;
  padding: 15px 30px;
  background: #fff;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.imgBx img {
  overflow: hidden;
  max-width: 590px;
  -webkit-animation: anim 7s linear infinite;
          animation: anim 7s linear infinite;
}

@-webkit-keyframes anim {
  0%, 100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes anim {
  0%, 100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.nav-bar {
  position: absolute;
  right: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar img {
  width: 40px;
  max-width: 100%;
  height: auto;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 5px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-bar img {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar li:hover a img {
  -webkit-transform: scale(0.6) rotate(360deg);
          transform: scale(0.6) rotate(360deg);
}

.copyrightText {
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.content-profil__description {
  -webkit-transform: translateX(-120px);
          transform: translateX(-120px);
  height: 500px;
  max-width: 700px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 50px;
}

.content-profil__description h3 {
  font-size: 1.2rem;
}

.content-profil__description p {
  font-size: 0.9rem;
}

.container-card {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.container-card .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container-card .card .content-card {
  padding: 20px;
  text-align: center;
}

.container-card .card .content-card h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.container-card .card .content-card h3 {
  font-size: 1.1rem;
  color: #385A94;
  z-index: 1;
  margin-bottom: 20px;
}

.container-card .card .content-card h4 {
  font-size: 1.1rem;
  color: #385A94;
  z-index: 1;
  margin: 60px 0 20px 0;
}

.container-card .card .content-card p, .container-card .card .content-card li {
  font-size: 0.8rem;
  color: #385A94;
  font-weight: 300;
}

.container-card .card .content-card li {
  list-style: none;
}

.container-card .card .content-card a {
  color: #385A94;
  text-decoration: none;
}

.imgDoodle img {
  position: fixed;
  top: 200px;
  left: 70px;
  overflow: hidden;
  max-width: 250px;
  -webkit-animation: anim2 15s linear infinite;
          animation: anim2 15s linear infinite;
}

@-webkit-keyframes anim2 {
  0%, 100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes anim2 {
  0%, 100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.imgDoodle2 img {
  position: fixed;
  top: 90px;
  right: 170px;
  overflow: hidden;
  max-width: 150px;
  -webkit-animation: anim2 10s linear infinite;
          animation: anim2 10s linear infinite;
}

.section-competences {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 3000px;
  padding: 30px;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-competences img {
  max-width: 100%;
  height: auto;
}

.section-competences .html5 {
  width: 130px;
  margin-bottom: 22px;
}

.section-competences .sass {
  width: 130px;
  margin-bottom: 21px;
}

.section-competences .git {
  width: 150px;
  margin: 30px 20px 57px 0;
}

.section-competences .bootstrap {
  width: 100px;
  margin-top: 23px;
  margin-bottom: 28px;
}

.section-competences .visual {
  width: 130px;
  margin-top: 5px;
  margin-bottom: 18px;
}

.section-competences .responsive {
  width: 110px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.section-competences .css3 {
  width: 130px;
  margin-bottom: 23px;
}

.section-competences .php {
  width: 130px;
  margin: 5px 0 18px 0;
}

.section-competences .javascript {
  width: 105px;
  margin: 10px 0 23px 0;
}

.section-competences p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre_experiences {
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.section-experiences {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 100px 200px 100px;
}

.section-experiences h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 50px;
  color: black;
}

.section-experiences h2, .section-experiences h3, .section-experiences p {
  margin: 0;
}

.section-experiences h2 {
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.section-experiences h3 {
  font-size: 1rem;
}

.section-experiences p {
  margin-bottom: 25px;
  color: #546175;
}

.section-experiences .titre_openclassrooms {
  color: #202f44;
  margin-bottom: 10px;
}

.section-experiences .titre_openclassrooms__ul-openclassrooms {
  color: #546175;
  list-style-type: circle;
}

.section-experiences .titre_openclassrooms__ul-openclassrooms li {
  margin-bottom: 10px;
}

.section-experiences .titre_openclassrooms__ul-openclassrooms .last-li-openclassrooms {
  margin-bottom: 20px;
}

.section-experiences ul {
  list-style-type: none;
}

.section-experiences__experiences-pro {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding-right: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px;
  margin-right: 20px;
}

.section-experiences__diplomes {
  border: 4px solid white;
  background-color: transparent;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px;
  margin-left: 20px;
}

.section-portfolio {
  position: relative;
}

.section-portfolio h1 {
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.section-portfolio h2, .section-portfolio h3 {
  color: #202f44;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.section-portfolio__integration, .section-portfolio__javascript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-portfolio__integration img, .section-portfolio__javascript img {
  border-radius: 20px;
}

.section-portfolio__integration h2, .section-portfolio__integration h3, .section-portfolio__javascript h2, .section-portfolio__javascript h3 {
  text-align: center;
}

.section-portfolio__integration a, .section-portfolio__javascript a {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.section-portfolio__integration a:hover, .section-portfolio__javascript a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.section-portfolio__integration {
  margin: 120px 0 200px 0;
}

.section-portfolio__integration a {
  color: #000;
}

.section-portfolio__javascript {
  margin: 120px 0 230px 0;
}

.section-portfolio__javascript a {
  color: #000;
}

.img-integration {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.img-javascript {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 300px;
}

figcaption {
  text-align: center;
}

.bloc-inner-spacer {
  height: 300px;
}

.section-contact {
  position: relative;
}

.section-contact .section-contact__container {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.section-contact h1 {
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-top: 100px;
  text-align: center;
}

.section-contact__container-formulaire {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
  margin: 50px 0px 50px 0;
  text-align: center;
}

.section-contact__container-formulaire h3 {
  font-size: 1.3rem;
}

.section-contact__container-formulaire h4 {
  margin-bottom: 40px;
  font-size: 0.9rem;
}

.section-contact__container-formulaire textarea {
  height: 100px;
  width: 90%;
}

.section-contact__container-formulaire .section-contact__container-formulaire-name, .section-contact__container-formulaire .section-contact__container-formulaire-email {
  width: 90%;
}

.section-contact__container-formulaire button[type="submit"] {
  cursor: pointer;
  width: 91%;
  border: none;
  background: #202f44;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 0.9rem;
}

.section-contact__container-formulaire button[type="submit"]:hover {
  background: #0045FF;
  -webkit-transition: background 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

fieldset {
  border: medium none;
  margin-bottom: 10px;
  padding: 0;
}

.section-logo-contact {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 250px 0 250px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: sans-serif;
  font-size: 1.8rem;
}

.section-logo-contact a {
  color: #202f44;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.section-logo-contact a:link {
  text-decoration: none;
}

.section-logo-contact a:hover {
  color: #0045FF;
}

.image_mail, .image_tel, .maps {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */