@import "variables";
@import "effets.scss";
@import "function.scss";
@import "mixins.scss";
@import "button.scss";

@font-face {
  font-family: "Open";
    src : url('../../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "Poppin";
    src : url('../../fonts/Poppins-Regular.otf');
}

$hover-color: rgb(32, 47, 68);
$hover-color2: rgb(84, 97, 117);
$hover-color3: #0045FF;
$background : #D3E2FA;
$color1: #385A94;
$size-font: 1.1rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppin";
}

body {
  overflow-x: hidden;
  overflow-y: hidden; 
  max-height: 1000px;
  color :$color1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#bloc_page, .container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

// Page 1 - Accueil 

/* Style containers glassmorphism*/

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  padding: 50px;
}

.container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  max-height: 600px;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

/* Style header*/

.header {
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  .header__titre-principale {
    display: flex;
    align-items: baseline;
    h1 {
      font-size: 1.3rem;
      margin-right: 12px;
      margin-left: 15px;
    }
    span {
      margin-right: 12px;
    }
    p {
      font-size: 1.1rem;
      margin-right: 10px;
    }
  } 
}

/* Style nav */

.nav__ul {
  margin-left: 50px;
  user-select: none;
  display: flex;
  list-style-type: none;
  li {
    margin-right: 0.2rem;
  } 
  a {
    font-size: 1rem;
    text-decoration: none;
    color: $color1;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding: 8px 13px;
    border-radius: 25px;
  } 
  a:hover, 
  a.active {
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
}

.content {
  transform: translateX(-100px);
  max-width: 700px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  padding: 40px;
  padding-left: 110px;
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.2rem;
  }
  a {
    display: inline-block;
    color: $color1;
    padding: 15px 30px;
    background: #fff;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
}

.imgBx img {
  overflow: hidden;
  max-width: 650px;
  animation: anim 7s linear infinite;
}

@keyframes anim {
  0%, 100%
  {
    transform: translateY(50px);
  }
  50% 
  {
    transform: translateY(100px);
  }
}

.nav-bar {
  position: absolute;
  right: -25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 40px;
    max-width: 100%;
    height: auto;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  img {
    transform: scale(0.6);
    transition: 0.5s;
  }
}

.nav-bar li:hover a img {
  transform: scale(0.6) rotate(360deg);
}

.copyrightText {
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

// page 2 - A propos de moi 

.content-profil__description {
  transform: translateX(-120px);
  height: 500px;
  max-width: 700px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  padding: 40px;
  padding-left: 50px;
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }
}

.container-card {
  @include container-card;
  .card {
    @include card;
    .content-card {
      padding: 20px;
      text-align: center;
      h2 {
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8rem;
        color: rgba(255,255,255,0.3);
        pointer-events: none;
      }
      h3 {
        font-size: 1.3rem;
        color : #fff;
        z-index: 1;
        margin-bottom: 20px;
      }
      h4 {
    
          font-size: 1.3rem;
          color : #fff;
          z-index: 1;
          margin: 60px 0 20px 0;
        }
      p, li {
        font-size: 0.8rem;
        color :$color1;
        font-weight: 300;
      }
      li {
        list-style: none;
      }
      a {
        color :$color1;
        text-decoration: none;
      }
    }
  }
}

.card_orange {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.imgDoodle img {
position: absolute;
top: 200px;
left: -70px;
overflow: hidden;
max-width: 250px;
animation: anim 15s linear infinite;
}


@keyframes anim {
  0%, 100%
  {
    transform: translateY(50px);
  }
  50% 
  {
    transform: translateY(100px);
  }
}

.imgDoodle2 img {
  position: absolute;
  top: 90px;
  right: 30px;
  overflow: hidden;
  max-width: 150px;
  animation: anim2 15s linear infinite;
  }

  @keyframes anim2 {
    0%, 100%
    {
      transform: translateY(100px);
    }
    50% 
    {
      transform: translateY(50px);
    }
  }

// Page 3 - Compétences

.section-competences {
  position: relative;
  @include glassmorphism;
  width: 1200px;
  padding: 30px;
  margin: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  img {
    max-width: 100%;
	  height: auto;
  }
  .html5 {
    width: 110px;
    margin-bottom: 22px;
  }
  .sass {
    width: 115px;
    margin-bottom: 21px;
  }
  .git {
    width: 110px;
    margin: 30px 20px 57px 0;
  }
  .bootstrap {
    width: 80px;
    margin-top: 23px;
    margin-bottom: 28px;
  }
  .visual {
    width: 110px;
    margin-top: 5px;
    margin-bottom: 18px;
  }
  .responsive {
    width: 95px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .css3 {
    width: 110px;
    margin-bottom: 23px;
  }
  .php {
    width: 110px;
    margin: 5px 0 18px 0;
  }
  .javascript {
    width: 90px;
    margin: 10px 0 23px 0;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.imgDoodle3 {
  transform: rotate(45deg);
}

.imgDoodle4 {
  transform: rotate(150deg);
}

.imgDoodle3 img {
  position: absolute;
  top: -400px;
  left: 200px;
  overflow: hidden;
  max-width: 200px;
  animation: anim 15s linear infinite;
  }

  .imgDoodle4 img {
    position: absolute;
    top: -650px;
    left: -1000px;
    overflow: hidden;
    max-width: 150px;
    animation: anim2 15s linear infinite;
    }

// Page 4 - Experiences

.container-card__experience {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  .card__experience {
    position: relative;
    width: 440px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 221, 25, 0.05);
    overflow: hidden;
    display: flex;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    .content-card__experience {
      padding: 20px;
      text-align: center;
      h2 {
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8rem;
        color: rgba(255,255,255,0.3);
        pointer-events: none;
      }
      h3 {
        font-size: 1.1rem;
        color :$color1;
        z-index: 1;
        margin-bottom: 20px;
      }
      h4 {
    
          font-size: 1.1rem;
          color :$color1;
          z-index: 1;
          margin: 60px 0 20px 0;
        }
      p, li {
        font-size: 0.8rem;
        color :$color1;
        font-weight: 300;
      }
      li {
        list-style: none;
      }
      a {
        color :$color1;
        text-decoration: none;
      }
    }
  }
}

// Page 5 - Portfolio 

.container-card__portfolio {
  margin: 300px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  .card__portfolio {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    .content-card__portfolio {
      padding: 20px;
      text-align: center;
      h2 {
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8rem;
        color: rgba(255,255,255,0.3);
        pointer-events: none;
      }
      h3 {
        font-size: 1.1rem;
        color :$color1;
        z-index: 1;
        margin-bottom: 20px;
      }
      h4 {
    
          font-size: 1.1rem;
          color :$color1;
          z-index: 1;
          margin: 60px 0 20px 0;
        }
      p, li {
        font-size: 0.8rem;
        color :$color1;
        font-weight: 300;
      }
      li {
        list-style: none;
      }
      a {
        color :$color1;
        text-decoration: none;
      }
    }
  }
}

.img-integration{
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  margin:auto;
  display:flex;
  width: 100px;
  max-width: 100%;
	height: auto;
  display: inline-block;  
}

.img-javascript{
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  display: inline-block;
  width: 100px;
}

figcaption {
  text-align: center;
}

.bloc-inner-spacer {
  height: 300px;
}


// Page 6 - Contact 

.container-card__contact {
  
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  .card__contact {
    position: relative;
    width: 550px;
    height: 450px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.05);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    .content-card__contact {
      padding: 20px;
      text-align: center;
      h2 {
        position: absolute;
        top: -80px;
        right: 30px;
        font-size: 8rem;
        color: rgba(255,255,255,0.3);
        pointer-events: none;
      }
      h3 {
        font-size: 1.1rem;
        color :$color1;
        z-index: 1;
        margin-bottom: 20px;
      }
      h4 {
    
          font-size: 1.1rem;
          color :$color1;
          z-index: 1;
          margin: 60px 0 20px 0;
        }
      p, li {
        font-size: 0.8rem;
        color :$color1;
        font-weight: 300;
      }
      li {
        list-style: none;
      }
      a {
        color :$color1;
        text-decoration: none;
      }
    }
  }
}

.section-contact {
  position: relative;
  .section-contact__container {
    max-width:600px;
    width:100%;
    margin:auto;
  }
  h1 {
  position: relative;
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  -webkit-text-stroke: 0.2vh #000;
  color: transparent;
  margin-top: 100px;
  text-align: center;
  } 
}

// Formulaire

.section-contact__container-formulaire {
  text-align: center;
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    margin-bottom: 40px;
    font-size:0.9rem;
  }
  textarea {
    height:100px;
    width: 90%;
  }
  .section-contact__container-formulaire-name, .section-contact__container-formulaire-email {
    width: 90%;
  }
  button[type="submit"] {
    cursor:pointer;
    width: 91%;
    border:none;
    background: $hover-color;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:0.9rem;
  }
  button[type="submit"]:hover {
    background: $hover-color3;
    -webkit-transition:background 0.2s ease-in-out;
    -moz-transition:background 0.2s ease-in-out;
    transition:background-color 0.2s ease-in-out;
  }
}

fieldset {
	border: medium none;
	margin-bottom: 10px;
	padding: 0;
}

.section-logo-contact {
  padding: 5px;
  position: relative;
  display: flex;
  margin: 0 250px 0 250px;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 1.8rem;
  a {
    color: $hover-color;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
  }
  a:link {
    text-decoration: none;
  } 
  a:hover {
    color: $hover-color3;
  }
}

.image_mail, .image_tel, .maps {
    height: 30px;
    width: 30px;
    margin-right: 10px;
} 

// Media Query 